	body {
		background-color: #fff4c1;
		color: #fff4c1;
		
	} 

	div {
		background:#fff4c1;
		margin: auto;
    	width: 50%;
    	padding-top: 5%
    	border: solid;
	}

	h3 {
		display: inline;
		font-family: Courier New;
	}

	a {
		color:#160f0a;
	}

	 img{
	 	padding-top: 0%
	 }
	

	 h2, h3 {
	 	background-color: #fff4c1;
	 }